@import '~bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

@import url(https://fonts.bunny.net/css?family=nunito:200,300,500);

// common
body{
    
    font-family: 'Nunito', sans-serif;
    color: darkblue;
    transition: all 0.3s ease;
}

.back-icon{
    color: blue;
    transition: all 0.3s ease;
}

// &:hover{
//     color:darkblue;
//     transform: scale(1.1);
// }

// navber

.navbar-custom,
.footer{
    background-color: blue;
    color: white;
    padding: 0.75rem 0;

    .nav-link{
    color: white;
    font-size: 1.3rem;

    // &:hover{
    //     color: darkblue;
    // }
}

.navbar-brand{
    color: white;
    font-weight: bold;

    // &:hover{
    //     color: darkblue;
    // }
}
}


// card
.card-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
}

// hero
.hero-banner{
    max-height: 400px;
    object-fit: cover;
    object-position: center;
    
}

.hero-text{
    
}



